[submodule "mazegenerator"]
	path = mazegenerator
	url = git@github.com:razimantv/mazegenerator.git
[submodule "v-hacd"]
	path = v-hacd
	url = git@github.com:kmammou/v-hacd.git
    ignore = untracked
[submodule "optimized_dp"]
	path = optimized_dp
	url = git@github.com:SFU-MARS/optimized_dp.git
