numpy
scipy
torch
pytorch-lightning
scikit-learn
pandas
tensorboard
matplotlib
multiprocess
joblib
dill
gitpython
hydra-zen
pyvips
git+https://github.com/AndrewWalker/pydubins.git
# git+github:AndrewWalker/pydubins.git

